{% extends "layout.html" %}

{% block body %}

  <table class="table"> 
    <thead class="thead-dark">
      <tr>
        <th scope="col">Topic</th>
        <th scope="col">Text content</th>
        <th scope="col">Created</th>
        <th scope="col">Modified</th>
      </tr>
    </thead>
    {% for topic in topics %}
    <tr>
      <td>{{ topic.title }}</td>
      <td>{{ topic.bodytxt }}</td>
      <td>{{ topic.date_created }}</td>
      <td>{{ topic.date_modified }}</td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}